<div class="col-md-12 col-lg-10 animated rotateIn faster">
    <div class="panel panel-primary border-3-top animated rotateIn faster">
        <div class="panel-heading">
            <div class="panel-title">
                <h5 style="color: white;"><strong>School Details</strong></h5>
            </div>
        </div>
        <div class="panel-body">
            <div class="row">
                <form id="frmNewSchool">
                    <div class="col-sm-12 col-md-4">
                        <div class="form-group has-feedback" style="border: 1px solid #eee">
                            <div class="user-info text-center">
                                <img id="user_dp" style="width: 200px; height: 280px; cursor: pointer" src="./images/default_logo.jpg" alt="lastName" class="img-rounded profile-img"
                                    onClick="triggerFileInput()" />
                                <input id="the-file-input" type="file" accept="image/*" onChange="imageChanged(this.id);"
                                    style="width: 0px; height: 0px; visibility: hidden" />
                            </div>
                        </div>
                        <h5>School Logo(Click above)</h5>
                    </div>
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>School Code/Acronym</label>
                            <input type="text" class="form-control" id="txtSchoolCode" tabindex="1" onblur="(SchoolCode=this.value)" placeholder="School Code/Acronym" required/>
                        </div>


                        <div class="form-group">
                            <label>Address Line 1</label>
                            <input type="text" class="form-control" id="txtAddressLine1" tabindex="3" onblur="(AddressLine1=this.value)" placeholder="Address Line 1" required/>
                        </div>
                        <div class="form-group">
                            <label>Address Line 3</label>
                            <input type="text" class="form-control" id="txtAddressLine3" tabindex="5" onblur="(AddressLine3=this.value)" placeholder="Address Line 3" />
                        </div>
                        <div class="form-group">
                            <label>Phone</label>
                            <input type="tel" class="form-control" id="txtPhoneNo" tabindex="7" onblur="(PhoneNo=this.value)" placeholder="Phone Number" required/>
                        </div>
                        <div class="form-group">
                            <label>School Email</label>
                            <input type="email" class="form-control" id="txtSchoolEmail" tabindex="9" onblur="(SchoolEmail=this.value)" placeholder="School Email" required/>
                        </div>

                    </div>
                    
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group">
                            <label>School Name</label>
                            <input type="text" class="form-control" id="txtSchoolName" tabindex="2" onblur="(SchoolName=this.value)" placeholder="School Name" required/>
                        </div>
                        <div class="form-group">
                            <label>Address Line 2</label>
                            <input type="text" class="form-control" id="txtAddressLine2" tabindex="4" onblur="(AddressLine2=this.value)" placeholder="Address Line 2" required/>
                        </div>

                        <div class="form-group">
                            <label>Address Line 4</label>
                            <input type="text" class="form-control" id="txtAddressLine4" tabindex="6" onblur="(AddressLine4=this.value)" placeholder="Address Line 4" />
                        </div>


                        <div class="form-group">
                            <label>School Fax</label>
                            <input type="tel" class="form-control" id="txtSchoolFax" tabindex="8" onblur="(SchoolFax=this.value)" placeholder="School Fax" />
                        </div>

                        <div class="form-group">
                            <label>School Level</label>
                            <select class="form-control" id="txtSchoolLevel" tabindex="10" onblur="(SchoolLevel=this.value)">
                                <option value="0">--Select Level--</option>
                                <option value="1">Primary</option>
                                <option value="2">Secondary</option>
                            </select>
                        </div>
                    </div>
                </form>
            </div>

        </div>

    </div>
    <h5>&nbsp;</h5>
    <div class="panel panel-primary modal vert-center fade animated rotateIn faster" data-backdrop="false" id="ImageArea" tabIndex="-1" role="dialog" aria-labelledby="modal6Label" style="display: none" >
        <div class="modal-dialog  modal-md" role="document">
            <div class="modal-content">
                <div class="modal-header" style="borderBottom: 0">
                    <h5 class="bold modal-title" id="modal6Label"> 
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    </h5>
                </div>
                <div class="modal-body">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                <h5></h5>
                            </div>
                        </div>
                        <div class="panel-body">
                            <div id="PreviewImage" style="width: 100%; maxWidth: 100%"></div>
                            <hr />
                            <div class="row" id="user-results">
                                <div class="col-sm-12">
                                    <div class="widget-11-table auto-overflow" style="height: auto; textAlign: center">
                                       <button type="button" class="btn btn-lg btn-info btn-wide btn-rounded" onClick="saveNewImage()" style="margin: 0 auto; display: block" >Save Image</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        if(SchoolImageBase64){
            $('#user_dp').attr('src', SchoolImageBase64);
        }    
        
        if(SchoolCode){
            $('#txtSchoolCode').val(SchoolCode); 
        }
        if(SchoolName){
            $('#txtSchoolName').val(SchoolName);
        }
        if(AddressLine1){
            $('#txtAddressLine1').val(AddressLine1);
        }
        if(AddressLine2){
            $('#txtAddressLine2').val(AddressLine2);
        }
        if(AddressLine3){
            $('#txtAddressLine3').val(AddressLine3);
        }
        if(AddressLine4){
            $('#txtAddressLine4').val(AddressLine4);
        }
        if(PhoneNo){
            $('#txtPhoneNo').val(PhoneNo);
        }
        if(SchoolEmail){
            $('#txtSchoolEmail').val(SchoolEmail);
        }
        if(SchoolFax){
            $('#txtSchoolFax').val(SchoolFax);
        }
        if(SchoolLevel){
            $('#txtSchoolLevel').val(SchoolLevel);
        }
    });

    triggerFileInput = function () {
        $('#the-file-input').trigger('click');
    };

    getImageData = function () {
        return $WorkingImage.cropper('getCroppedCanvas').toDataURL('image/jpeg');
    };
    FilePresent = false;
            
    renderImage = function (file) {
        var reader = new FileReader();
        reader.onload = function (event) {
            the_url = event.target.result;
            $('#PreviewImage').html("<img id='ImageToCrop' src='" + the_url + "' />");
            InitializeCropper();
        };
        reader.onerror = function (event) {
            FilePresent = false;
        };
        reader.readAsDataURL(file);
    };

    InitializeCropper = function () {
        $WorkingImage = $("#ImageToCrop");

        var width = 200;
        var height = 200;
        var CropperSize = 200;
        if (width < height) {
            CropperSize = width;
        } else {
            CropperSize = height;
        }

        $WorkingImage.cropper({
            aspectRatio: 1 / 1,
            data: {
                width: CropperSize,
                height: CropperSize
            }
        });

        FilePresent = true;
    };

    /*var ImageBase64 = "";
    SaveNewImage = function () {
        ImageBase64 = GetImageData();
        $('#user_dp').attr('src', ImageBase64);
        $WorkingImage.cropper('destroy');
        $('#ImageArea').modal('hide');
    };*/
      
    saveNewImage = function () {
        SchoolImageBase64 = this.getImageData();
        //this.updatePicture(ImageBase64);
        //$WorkingImage.cropper('destroy');

        $('#user_dp').attr('src', SchoolImageBase64);
        HideModal("ImageArea");
        //$WorkingImage.cropper('destroy');
        //$('#ImageArea').modal('hide');

    };

    imageChanged = function (id) {
        //var fileInput = this;
        $('#ImageArea').modal('show');
        //setTimeout(() =>
        let obj = document.getElementById(id);
        //this.renderImage(this.fileUploaded.files[0]);
        this.renderImage(obj.files[0]);
        //    , 1000);
    };
</script>
