<div class="app flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="panel-group">
                    <div class="flatpanel col-md-offset-2" style="marginLeft: 380px">
                        <div class="text-white bg-primary py-5 d-md-down-none col-md-4 mt-50 animated rotateIn faster" style="width: 70%; height: 250px">
                            <div class="text-center panel-body">
                                <div>
                                    <h2>Submit The Forms</h2>
                                    <p style="font-size: 15px">Make sure all items on Admin form and School details form are properly filled including the Admin passport and the school logo. Afterwards click the submit button to complete the process.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
