<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <display-name>Smart Systems (version 1.0.0)</display-name>
    <description>
      Smart Systems
    </description>
    <!-- CODE Servlet-s -->
    <!--servlet>
        <servlet-name>UserServlet</servlet-name>
        <servlet-class>com.bpp.servlet.UserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/UserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PolicyServlet</servlet-name>
        <servlet-class>com.bpp.servlet.PolicyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyServlet</servlet-name>
        <url-pattern>/PolicyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MdaServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MdaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MdaServlet</servlet-name>
        <url-pattern>/MdaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SectorServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SectorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SectorServlet</servlet-name>
        <url-pattern>/SectorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SectorCeilingServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SectorCeilingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SectorCeilingServlet</servlet-name>
        <url-pattern>/SectorCeilingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubSectorServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SubSectorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubSectorServlet</servlet-name>
        <url-pattern>/SubSectorServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SubSectorCeilingServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SubSectorCeilingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SubSectorCeilingServlet</servlet-name>
        <url-pattern>/SubSectorCeilingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MDACeilingServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MDACeilingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MDACeilingServlet</servlet-name>
        <url-pattern>/MDACeilingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SystemMenuServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SystemMenuServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SystemMenuServlet</servlet-name>
        <url-pattern>/SystemMenuServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuRoleServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MenuRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuRoleServlet</servlet-name>
        <url-pattern>/MenuRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuUserServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MenuUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuUserServlet</servlet-name>
        <url-pattern>/MenuUserServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MenuCategoryServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MenuCategoryServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MenuCategoryServlet</servlet-name>
        <url-pattern>/MenuCategoryServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>DepartmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.DepartmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DepartmentServlet</servlet-name>
        <url-pattern>/DepartmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetPeriodServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetPeriodServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetPeriodServlet</servlet-name>
        <url-pattern>/BudgetPeriodServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetTimetableServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetTimetableServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetTimetableServlet</servlet-name>
        <url-pattern>/BudgetTimetableServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetTimetableActivitiesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetTimetableActivitiesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetTimetableActivitiesServlet</servlet-name>
        <url-pattern>/BudgetTimetableActivitiesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetYearServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetYearServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetYearServlet</servlet-name>
        <url-pattern>/BudgetYearServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetPhasesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetPhasesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetPhasesServlet</servlet-name>
        <url-pattern>/BudgetPhasesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingDetailsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingDetailsServlet</servlet-name>
        <url-pattern>/MeetingDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingDeliberationsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingDeliberationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingDeliberationsServlet</servlet-name>
        <url-pattern>/MeetingDeliberationsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingAttendantsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingAttendantsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingAttendantsServlet</servlet-name>
        <url-pattern>/MeetingAttendantsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingAgendaServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingAgendaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingAgendaServlet</servlet-name>
        <url-pattern>/MeetingAgendaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingAgendaDetailsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingAgendaDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingAgendaDetailsServlet</servlet-name>
        <url-pattern>/MeetingAgendaDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MeetingRolesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MeetingRolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MeetingRolesServlet</servlet-name>
        <url-pattern>/MeetingRolesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestAgentsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestAgentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestAgentsServlet</servlet-name>
        <url-pattern>/RequestAgentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestAgentTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestAgentTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestAgentTypesServlet</servlet-name>
        <url-pattern>/RequestAgentTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestDetailsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestDetailsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestDetailsServlet</servlet-name>
        <url-pattern>/RequestDetailsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestDocumentsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestDocumentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestDocumentsServlet</servlet-name>
        <url-pattern>/RequestDocumentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestApprovalsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestApprovalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestApprovalsServlet</servlet-name>
        <url-pattern>/RequestApprovalsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RequestTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RequestTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RequestTypesServlet</servlet-name>
        <url-pattern>/RequestTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetVersionsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetVersionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetVersionsServlet</servlet-name>
        <url-pattern>/BudgetVersionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FrameworkParametersServlet</servlet-name>
        <servlet-class>com.bpp.servlet.FrameworkParametersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrameworkParametersServlet</servlet-name>
        <url-pattern>/FrameworkParametersServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FrameworkParameterTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.FrameworkParameterTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrameworkParameterTypesServlet</servlet-name>
        <url-pattern>/FrameworkParameterTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetStatusServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetStatusServlet</servlet-name>
        <url-pattern>/BudgetStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetTypesServlet</servlet-name>
        <url-pattern>/BudgetTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetTypeComponentsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetTypeComponentsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetTypeComponentsServlet</servlet-name>
        <url-pattern>/BudgetTypeComponentsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetTypeComponentTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetTypeComponentTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetTypeComponentTypesServlet</servlet-name>
        <url-pattern>/BudgetTypeComponentTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetVersionStatusServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetVersionStatusServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetVersionStatusServlet</servlet-name>
        <url-pattern>/BudgetVersionStatusServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MybfPreviousForwardServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MybfPreviousForwardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MybfPreviousForwardServlet</servlet-name>
        <url-pattern>/MybfPreviousForwardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MybfNarrationsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MybfNarrationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MybfNarrationsServlet</servlet-name>
        <url-pattern>/MybfNarrationsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MybfFiguresServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MybfFiguresServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MybfFiguresServlet</servlet-name>
        <url-pattern>/MybfFiguresServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MybfFigureOwnPercentageValuesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MybfFigureOwnPercentageValuesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MybfFigureOwnPercentageValuesServlet</servlet-name>
        <url-pattern>/MybfFigureOwnPercentageValuesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FrameworkMethodsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.FrameworkMethodsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FrameworkMethodsServlet</servlet-name>
        <url-pattern>/FrameworkMethodsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RolesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RolesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RolesServlet</servlet-name>
        <url-pattern>/RolesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RoleServlet</servlet-name>
        <servlet-class>com.bpp.servlet.RoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RoleServlet</servlet-name>
        <url-pattern>/RoleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.NotificationTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationTypesServlet</servlet-name>
        <url-pattern>/NotificationTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NotificationsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.NotificationsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NotificationsServlet</servlet-name>
        <url-pattern>/NotificationsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UserRoleServlet</servlet-name>
        <servlet-class>com.bpp.servlet.UserRoleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UserRoleServlet</servlet-name>
        <url-pattern>/UserRoleServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PublicProjectSuggestionsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.PublicProjectSuggestionsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PublicProjectSuggestionsServlet</servlet-name>
        <url-pattern>/PublicProjectSuggestionsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LGAsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.LGAsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LGAsServlet</servlet-name>
        <url-pattern>/LGAsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessageTypesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MessageTypesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessageTypesServlet</servlet-name>
        <url-pattern>/MessageTypesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MessagesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MessagesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MessagesServlet</servlet-name>
        <url-pattern>/MessagesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetReportServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetReportServlet</servlet-name>
        <url-pattern>/BudgetReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ScoringServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ScoringServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ScoringServlet</servlet-name>
        <url-pattern>/ScoringServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PolicyGroupServlet</servlet-name>
        <servlet-class>com.bpp.servlet.PolicyGroupServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PolicyGroupServlet</servlet-name>
        <url-pattern>/PolicyGroupServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SectorProgrammesServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SectorProgrammesServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SectorProgrammesServlet</servlet-name>
        <url-pattern>/SectorProgrammesServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SectorGoalsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SectorGoalsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SectorGoalsServlet</servlet-name>
        <url-pattern>/SectorGoalsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>PersonnelCostPlanningServlet</servlet-name>
        <servlet-class>com.bpp.servlet.PersonnelCostPlanningServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>PersonnelCostPlanningServlet</servlet-name>
        <url-pattern>/PersonnelCostPlanningServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ZHR_PCP_BudgetServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ZHR_PCP_BudgetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ZHR_PCP_BudgetServlet</servlet-name>
        <url-pattern>/ZHR_PCP_BudgetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MtssCostingServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MtssCostingServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MtssCostingServlet</servlet-name>
        <url-pattern>/MtssCostingServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>YearBudgetServlet</servlet-name>
        <servlet-class>com.bpp.servlet.YearBudgetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YearBudgetServlet</servlet-name>
        <url-pattern>/YearBudgetServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdminReportsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.AdminReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminReportsServlet</servlet-name>
        <url-pattern>/AdminReportsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>MDAReportsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.MDAReportsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MDAReportsServlet</servlet-name>
        <url-pattern>/MDAReportsServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ReportServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ReportServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ReportServlet</servlet-name>
        <url-pattern>/ReportServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BudgetCurrencyServlet</servlet-name>
        <servlet-class>com.bpp.servlet.BudgetCurrencyServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BudgetCurrencyServlet</servlet-name>
        <url-pattern>/BudgetCurrencyServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>YearBudgetVersionServlet</servlet-name>
        <servlet-class>com.bpp.servlet.YearBudgetVersionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>YearBudgetVersionServlet</servlet-name>
        <url-pattern>/YearBudgetVersionServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProgrammeServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ProgrammeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgrammeServlet</servlet-name>
        <url-pattern>/ProgrammeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ObjectiveServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ObjectiveServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ObjectiveServlet</servlet-name>
        <url-pattern>/ObjectiveServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ProjectDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProjectDetailServlet</servlet-name>
        <url-pattern>/ProjectDetailServlet</url-pattern>
    </servlet-mapping-->
    <!-- Core App Screens -->
    <servlet>
        <servlet-name>login</servlet-name>
        <jsp-file>/login.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>login</servlet-name>
        <url-pattern>/user-login</url-pattern>
    </servlet-mapping>
    <!--servlet>
        <servlet-name>users</servlet-name>
        <jsp-file>/userslist.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>users</servlet-name>
        <url-pattern>/dashboard00035</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>userprofile</servlet-name>
        <jsp-file>/userprofile.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>userprofile</servlet-name>
        <url-pattern>/dashboard00034</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budgettimetable</servlet-name>
        <jsp-file>/budget_timetable.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budgettimetable</servlet-name>
        <url-pattern>/dashboard00004</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>meetingcreator</servlet-name>
        <jsp-file>/meeting_creator.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>meetingcreator</servlet-name>
        <url-pattern>/dashboard00021</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mybf</servlet-name>
        <jsp-file>/mybf.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mybf</servlet-name>
        <url-pattern>/dashboard00010</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>public_participation</servlet-name>
        <jsp-file>/public_participation.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>public_participation</servlet-name>
        <url-pattern>/dashboard00068</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mybf_report</servlet-name>
        <jsp-file>/mybf_report.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mybf_report</servlet-name>
        <url-pattern>/dashboard00069</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>messenger</servlet-name>
        <jsp-file>/messenger.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>messenger</servlet-name>
        <url-pattern>/dashboard00079</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>messages</servlet-name>
        <jsp-file>/messages.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>messages</servlet-name>
        <url-pattern>/dashboard00080</url-pattern>
    </servlet-mapping-->
    <servlet>
        <servlet-name>index</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/user-dashboard</url-pattern>
    </servlet-mapping>
    <!--servlet>
        <servlet-name>budget_reports</servlet-name>
        <jsp-file>/budget_reports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budget_reports</servlet-name>
        <url-pattern>/dashboard00084</url-pattern>
    </servlet-mapping-->
    <!-- Code Table Screens -->
    <!--servlet>
        <servlet-name>requestagenttypes</servlet-name>
        <jsp-file>/request_agent_types.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>requestagenttypes</servlet-name>
        <url-pattern>/codem00028</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>requesttypes</servlet-name>
        <jsp-file>/request_types.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>requesttypes</servlet-name>
        <url-pattern>/codem00029</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>policies</servlet-name>
        <jsp-file>/policies.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>policies</servlet-name>
        <url-pattern>/codem00015</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mdas</servlet-name>
        <jsp-file>/mdas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mdas</servlet-name>
        <url-pattern>/codem00018</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>departments</servlet-name>
        <jsp-file>/departments_list.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>departments</servlet-name>
        <url-pattern>/codem00014</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>subsectors</servlet-name>
        <jsp-file>/sub_sectors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>subsectors</servlet-name>
        <url-pattern>/codem00016</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sectors</servlet-name>
        <jsp-file>/sectors.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sectors</servlet-name>
        <url-pattern>/codem00031</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budgetperiod</servlet-name>
        <jsp-file>/budget_period.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budgetperiod</servlet-name>
        <url-pattern>/codem00001</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budgetphase</servlet-name>
        <jsp-file>/budget_phase.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budgetphase</servlet-name>
        <url-pattern>/codem00002</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>menusetup</servlet-name>
        <jsp-file>/menusetup.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>menusetup</servlet-name>
        <url-pattern>/codem00032</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>usersmenu</servlet-name>
        <jsp-file>/usersmenu.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>usersmenu</servlet-name>
        <url-pattern>/codem00033</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>menucategory</servlet-name>
        <jsp-file>/menucategory.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>menucategory</servlet-name>
        <url-pattern>/codem00034</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budgetyear</servlet-name>
        <jsp-file>/budget_year.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budgetyear</servlet-name>
        <url-pattern>/codem00008</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>meeting_agenda_type</servlet-name>
        <jsp-file>/meeting_agenda_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>meeting_agenda_type</servlet-name>
        <url-pattern>/codem00019</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>meeting_roles</servlet-name>
        <jsp-file>/meeting_roles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>meeting_roles</servlet-name>
        <url-pattern>/codem00020</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>framework_parameter_types</servlet-name>
        <jsp-file>/framework_parameter_types.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>framework_parameter_types</servlet-name>
        <url-pattern>/codem00045</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budget_type_component</servlet-name>
        <jsp-file>/budget_type_component.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budget_type_component</servlet-name>
        <url-pattern>/codem00005</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>notification_type</servlet-name>
        <jsp-file>/notification_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>notification_type</servlet-name>
        <url-pattern>/codem00025</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budget_type_component_type</servlet-name>
        <jsp-file>/budget_type_component_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budget_type_component_type</servlet-name>
        <url-pattern>/codem00046</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>framework_methods</servlet-name>
        <jsp-file>/framework_methods.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>framework_methods</servlet-name>
        <url-pattern>/codem00011</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budgetstatus</servlet-name>
        <jsp-file>/budget_status.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budgetstatus</servlet-name>
        <url-pattern>/codem00003</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>roles</servlet-name>
        <jsp-file>/roles.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>roles</servlet-name>
        <url-pattern>/codem00047</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>lgas</servlet-name>
        <jsp-file>/lgas.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>lgas</servlet-name>
        <url-pattern>/codem00067</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budget_type</servlet-name>
        <jsp-file>/budget_type.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budget_type</servlet-name>
        <url-pattern>/codem00006</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sector_ceiling</servlet-name>
        <jsp-file>/sector_ceiling.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sector_ceiling</servlet-name>
        <url-pattern>/mtefmybf00023</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sub_sector_ceiling</servlet-name>
        <jsp-file>/sub_sector_ceiling.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub_sector_ceiling</servlet-name>
        <url-pattern>/mtefmybf00024</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mda_ceiling</servlet-name>
        <jsp-file>/mda_ceiling.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mda_ceiling</servlet-name>
        <url-pattern>/mtefmybf00025</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>functionalSegment</servlet-name>
        <jsp-file>/functional_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>functionalSegment</servlet-name>
        <url-pattern>/codem00051</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>fundSegment</servlet-name>
        <jsp-file>/fund_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>fundSegment</servlet-name>
        <url-pattern>/codem00050</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>administrativeSegment</servlet-name>
        <jsp-file>/administrative_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>administrativeSegment</servlet-name>
        <url-pattern>/codem00053</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>geographicSegment</servlet-name>
        <jsp-file>/geographic_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>geographicSegment</servlet-name>
        <url-pattern>/codem00054</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>economicSegment</servlet-name>
        <jsp-file>/economic_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>economicSegment</servlet-name>
        <url-pattern>/codem00055</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sector_goals</servlet-name>
        <jsp-file>/sector_goals.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sector_goals</servlet-name>
        <url-pattern>/codem00082</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>programme_segment</servlet-name>
        <jsp-file>/programme_segment.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>programme_segment</servlet-name>
        <url-pattern>/codem00052</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>project_scoring</servlet-name>
        <jsp-file>/project_scoring.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>project_scoring</servlet-name>
        <url-pattern>/dashboard00083</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>personnel_cost_reports</servlet-name>
        <jsp-file>/personnel_cost_reports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>personnel_cost_reports</servlet-name>
        <url-pattern>/dashboard00085</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mtss_costing</servlet-name>
        <jsp-file>/mtss_costing.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mtss_costing</servlet-name>
        <url-pattern>/mtefmybf00026</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>year_budget</servlet-name>
        <jsp-file>/year_budget.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>year_budget</servlet-name>
        <url-pattern>/mtefmybf00027</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>custorm_budget_reports</servlet-name>
        <jsp-file>/custorm_budget_reports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>custorm_budget_reports</servlet-name>
        <url-pattern>/dashboard00086</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>admin_reports</servlet-name>
        <jsp-file>/admin_reports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>admin_reports</servlet-name>
        <url-pattern>/dashboard00087</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mda_reports</servlet-name>
        <jsp-file>/mda_reports.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mda_reports</servlet-name>
        <url-pattern>/dashboard00088</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>currency</servlet-name>
        <jsp-file>/currency.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>currency</servlet-name>
        <url-pattern>/codem00035</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>budget_version</servlet-name>
        <jsp-file>/budget_version.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>budget_version</servlet-name>
        <url-pattern>/codem00036</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>programmes</servlet-name>
        <jsp-file>/programmes.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>programmes</servlet-name>
        <url-pattern>/codem00089</url-pattern>
    </servlet-mapping>
        <servlet>
        <servlet-name>objectives</servlet-name>
        <jsp-file>/objectives.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>objectives</servlet-name>
        <url-pattern>/codem00090</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sector_programme</servlet-name>
        <jsp-file>/sector_programme.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sector_programme</servlet-name>
        <url-pattern>/codem00091</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sub_sector_ceiling_supplementary</servlet-name>
        <jsp-file>/sub_sector_ceiling_supplementary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub_sector_ceiling_supplementary</servlet-name>
        <url-pattern>/codem00092</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mda_ceiling_supplementary</servlet-name>
        <jsp-file>/mda_ceiling_supplementary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mda_ceiling_supplementary</servlet-name>
        <url-pattern>/codem00093</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>year_budget_supplementary</servlet-name>
        <jsp-file>/year_budget_supplementary.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>year_budget_supplementary</servlet-name>
        <url-pattern>/codem00094</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>sub_sector_ceiling_contingency</servlet-name>
        <jsp-file>/sub_sector_ceiling_contingency.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>sub_sector_ceiling_contingency</servlet-name>
        <url-pattern>/codem00095</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>mda_ceiling_contingency</servlet-name>
        <jsp-file>/mda_ceiling_contingency.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>mda_ceiling_contingency</servlet-name>
        <url-pattern>/codem00096</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>year_budget_contingency</servlet-name>
        <jsp-file>/year_budget_contingency.jsp</jsp-file>
    </servlet>
    <servlet-mapping>
        <servlet-name>year_budget_contingency</servlet-name>
        <url-pattern>/codem00097</url-pattern>
    </servlet-mapping-->
    <!-- Segments -->
    <!--servlet>
        <servlet-name>FunctionalSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.FunctionalSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FunctionalSegmentServlet</servlet-name>
        <url-pattern>/FunctionalSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ProgrammeSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.ProgrammeSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProgrammeSegmentServlet</servlet-name>
        <url-pattern>/ProgrammeSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AdministrativeSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.AdministrativeSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdministrativeSegmentServlet</servlet-name>
        <url-pattern>/AdministrativeSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>GeographicSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.GeographicSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GeographicSegmentServlet</servlet-name>
        <url-pattern>/GeographicSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>EconomicSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.EconomicSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EconomicSegmentServlet</servlet-name>
        <url-pattern>/EconomicSegmentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>FundSegmentServlet</servlet-name>
        <servlet-class>com.bpp.servlet.FundSegmentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>FundSegmentServlet</servlet-name>
        <url-pattern>/FundSegmentServlet</url-pattern>
    </servlet-mapping-->
    <!-- SAP Related Servlets -->
    <!--servlet>
        <servlet-name>SAPActualsServlet</servlet-name>
        <servlet-class>com.bpp.servlet.SAPActualsServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SAPActualsServlet</servlet-name>
        <url-pattern>/SAPActualsServlet</url-pattern>
    </servlet-mapping-->
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>user-dashboard</welcome-file>
    </welcome-file-list>
</web-app>
